<!DOCTYPE html>
<html>
<head>
    <title>{{ inventory_hostname }}</title>
</head>
<body>
    <h1>{{ inventory_hostname }}</h1>
    <p>OS: {{ ansible_distribution }}</p>
    <p>Version: {{ ansible_distribution_version }}</p>
    <p>IP Address: {{ ansible_default_ipv4.address }}</p>
    <p>HTTP Port: {{ http_port }}</p>
</body>
</html>